.c-box {
  margin: 50px auto;
  width: 420px;
  height: 400px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .8);
  background-image: url(../img/paper-texture.png);
  background-repeat: repeat;
  background-position: 50% 50%;
  padding-top: 1px;
}