.title {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 7px;
  margin-left: 50px;
  color: $gray;
  user-select: none;
  @include tb {
    margin-left: 89px;
    margin-top: 30px;
  }
  @include sp {
    margin-left: 14px;
  }
}

.title:first-child {
  margin-top: 25px;
  @include tb {
    margin-top: 60px;
  }
  @include sp {
    margin-top: 35px;
  }
}

.output-box .title {
  margin: 50px 0 0;
  text-align: center;
  @include tb {
    margin-top: 75px;
  }
  @include sp {
    margin-top: 35px;
  }
}