.tweet-contents-box {
  width: $input-width-pc;
  height: 220px;
  border: 1px solid $gray;
  margin: 15px auto;
  background-color: #fff;
  @include tb {
    width: $input-width-tb;
  }
  @include sp {
    width: $input-width-sp;
  }
}